<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" #nameInput>
          <p class="help-block">The name of the ingredient.</p>
        </div>
        <div class="col-sm-3 form-group">
          <label for="number">Amount</label>
          <input type="number" class="form-control" id="amount" #amountInput>
          <p class="help-block">The amount of the ingredient.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="addIngredient()">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
